{%extends 'layout.html'%}


{%block content%}
<header class="header">
    <p class="button" onclick="window.location.href='/login/'">Увійти</p>
</header>
<main class="main">
    <p class="logo">Знимка</p>
    <p class="title">Ділися яскравими моментами у фотографіях</p>
    <div class="buttons-cont">
        <p class="button">Що таке знимка?</p>
        <p class="button">Відкритий код</p>
        <p class="button">Співпраця</p>
        <p class="button">Контакти</p>
        <p class="button">Розробники</p>
    </div>
</main>
{%endblock%}
