{%extends 'layout.html'%}
{%load static%}


{%block content%}
    <header class="header" style="justify-content: space-between; margin-bottom: 50px;">
        <a class="button" style="text-decoration: none;" href = "{%url 'usersFriends' username=user.username%}">{{friendsCount}} друзів</a>
        <a class="button" style="text-decoration: none;" href = "{%url 'viewProfile' username=user.username%}">Профіль</a>
    </header>
    <main class="main">
        <p class="logo" style="margin-bottom: 20px;">Публікації друзів</p>
        <div class="posts-cont">

            {%for profile, photos in posts.items %}
                {%for userPhoto in photos%}
                    <div class="post">
                        <img src="{{userPhoto.image.url}}"class="post-image">
                        <div class="post-description">
                            <p class="post-username">@{{profile.user.username}}</p>
                            <p class="post-text">{{userPhoto.caption}}</p>
                        </div>
                    </div>
                {%endfor%}
            {%endfor%}
        </div>
    </main>
{%endblock%}