{%extends 'layout.html'%}
{%load static%}


{%block content%}
    <header class="header" style="justify-content: space-between; margin-bottom: 50px;">
        <a class="button" style="text-decoration: none;" href = "{%url 'usersFriends' username=user.username%}">{{friendsCount}} друзів</a>
        <a class="button" style="text-decoration: none;" href = "{%url 'viewProfile' username=user.username%}">Профіль</a>
    </header>
    <main class="main">
        <p class="logo" style="margin-bottom: 20px;">Публікації друзів</p>
        <div class="posts-cont">


            <!--
            {% for key, value in my_dict.items %}
                {{ key }}: {{ value }}
            {% endfor %}
            -->


            {%for name, photos in posts.items %}
                {%for userPhotos in photos%}
                    <div class="post">
                        <img src="{{userPhotos.image.url}}"class="post-image">
                        <div class="post-description">
                            <p class="post-username">@{{name}}</p>
                            <p class="post-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas consequuntur suscipit ducimus ab tempora laboriosam.</p>
                        </div>
                    </div>
                {%endfor%}
            {%endfor%}
        </div>
    </main>
{%endblock%}