{%extends 'layout.html'%}
{%load static%}

{%block content%}
<header class="header" style="justify-content: flex-start;">
    <a class="button"  style="text-decoration: none;" href="javascript:window.history.back();">Назад</a>
</header>

<main class="main">
    {%if friendsList.exists %}
        <p>Друзі {{profile.username}}:</p>
        {%for f in friendsList%}
            <p>Ім'я: {{f.user.username}}</p>
            <a href="{%url 'viewProfile' username=f.user.username%}">Подивитись профіль</a>
        {%endfor%}
    {%else%}
        <p>Схоже у вас немає друзів, але ви можете додати когось):</p>
        {% if recommendedProfiles.exists %}
            {%for r in recommendedProfiles%}
                <p>Iм'я {{r.username}}</p>
                <a href="{%url 'addFriend' username=r.username%}">Додати друга</a>
            {%endfor%}
        {%endif%}
    {%endif%}
</main>



{%endblock%}