{%extends 'layout.html'%}
{%load static%}

{%block css%}

    <link rel="stylesheet" href="{%static 'styles/photogrid/style.css'%}">

{%endblock%}

{%block content%}


<header class="header" style="justify-content: flex-start;">
    <a class="button"  style="text-decoration: none;" href="javascript:window.history.back();">Назад</a>
</header>

<main class="main">
    <div class="profile-info">
        {%if isOwn%}
            <p>Ваш профіль</p>
            <a class="button" href="{%url 'logoutView'%}">Вийти з профілю</a>
        {%else%}
            <p>Профіль {{profile.user.username}}</p>
        {%endif%}
    </div>

    {% if photos.exists %}
    <div class="photo-grid">
        {%for p in photos%}
            <div class="post">
                <img src="{{p.image.url}}" alt="Фото користувача">
                {%if p.caption.exists%}
                    <div class="post-description">
                        <p class="post-text">{{p.caption}}</p>
                    </div>
                {%endif%}
            </div>
        {%endfor%}
    </div>
    {%endif%}

    {%if isOwn%}
    <form class="upload-form" action="{%url 'uploadPhoto' username=profile.user.username%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="photo" accept="image/*">
        <label for="photo">Виберіть фото</label>
        <input type="submit" value="Upload">
    </form>
    {%endif%}
</main>

{%endblock%}